<div class="row">
  <div class="col-lg-6 offset-lg-3 mt-4 px-5">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'mt-5') do |f| %>
      <%= f.error_notification %>
      <%= field_set_tag 'Sign up' do %>
        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true %>
          <%= f.input :last_name, required: true %>
          <%= f.input :role, as: :select,
                      include_blank: false, collection: %w(admin regular) %>
          <small class="form-text text-muted">For testing user roles.</small>
          <%= f.input :email, required: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
      <% end %>
      <div class="form-actions text-center">
        <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn btn-secondary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>