<div id="comments_section">
  <div id="comments">
    <%= render partial: 'comments/comment', collection: commentable.comments.last(4) %>
  </div>
  <% if can? :create, Comment %>
    <%= render partial: 'comments/form', locals: { commentable: commentable } %>
  <% end %>
</div>