<div class="comment card pl-2 my-2" id="comment_<%= comment.id %>">
  <p class="mt-3"><%= comment.content %></p>
  <div>
    <hr>
    Posted by: <b><%= comment.user.full_name %></b> |
    <span>
    <%= link_to 'Delete', polymorphic_path([comment.commentable, comment]), method: :delete,
                class: 'delete_comment', remote: true,
                data: { comment_id: comment.id } if can? :delete, comment %>
  </span>
  </div>
</div>