<%= form_for [commentable, Comment.new], remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Add a comment..." %>
    <div class="invalid-feedback"></div>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>