<%= simple_form_for [:category, @post] do |f| %>
  <%= f.input :name, value: @post.name %>
  <%= f.input :content, value: @post.content %>
  <%= f.input :file, as: :file %>
  <% unless @post.file.url.nil? %>
    <div class="attachement">
      <%= link_to @post.file.file.filename, @post.file.url, target: :blank %>
      <span class="attachment_size">
        (<%= @post.file.size / 1.kilobyte %> kb.)
      </span>
    </div>
  <% end %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>