<div class="post_short">
  <h3><%= post.name %></h3>
  <div class="post_preview">
    <%= truncate(post.content, length: 200) { link_to 'Read', post_path(post) } %>
  </div>
  <hr>
  <span>Comments: <%= post.comments.count %></span> |
  <% if post.file.url.nil? %>
    <span>(without files)</span>
  <% else %>
    <div class="post_attachment">
      <%= link_to post.file.file.filename, post.file.url, target: :blank %>
      <span class="attachment_size">
        (<%= post.file.size / 1.kilobyte %> kb.)
      </span>
    </div>
  <% end %>
  <hr>
</div>