<div class="post">
  <h1><%= @post.name %></h1>
  <% if can? :manage, @post %>
    <%= link_to 'Edit', edit_category_post_path(@post) %> |
    <%= link_to 'Delete', category_post_path(@post), method: :delete,
                data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
  <div class="post_content">
    <%= @post.content %>
  </div>
  <% unless @post.file.url.nil? %>
    <div class="post_attachment">
      <%= link_to @post.file.file.filename, @post.file.url, target: :blank %>
      <span class="attachment_size">
        (<%= @post.file.size / 1.kilobyte %> kb.)
      </span>
    </div>
  <% end %>
  <hr>
  <h4 class="text-center">Comments</h4>
  <%= render partial: 'comments/comments_section', locals: { commentable: @post } %>
</div>