<div class="card">
  <div class="card-title">
    <h2 class="ml-3 mt-2"><%= category.name %></h2>
  </div>
  <div class="card-body">
    <div>
      <%= category.description %>
    </div>
    <%= link_to 'Show more', category_path(category) %>
    <div class="statistic">
      Comments: <%= category.comments.count %> |
      Posts:
      <% if category.posts.count != 0 %>
        <%= link_to category_posts_path(category) do %>
          <%= category.posts.count %>
        <% end %>
      <% else %>
        Posts: <%= category.posts.count %>
      <% end %>
    </div>
  </div>
</div>