<div class="category">
  <h1 class="category_name"><%= @category.name %></h1>
  <div class="category_description">
    <%= @category.description %>
  </div>
  <%= link_to 'Show related posts', category_posts_path(@category) %>
  <% if can? :manage, @category %>
    | <%= link_to 'Edit', edit_category_path(@category) %> |
    <%= link_to 'Delete', @category, method: :delete,
                data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Add post', new_category_post_path(@category) %>
  <% end %>
  <h4 class="text-center">Comments</h4>
  <%= render partial: 'comments/comments_section', locals: { commentable: @category } %>
</div>

