<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <%= link_to 'Categories', categories_path, class: 'nav-item nav-link' %>
      <%= link_to 'Add category', new_category_path, class: 'nav-item nav-link' %>
      <%= link_to 'Posts', posts_path, class: 'nav-item nav-link' %>
    </div>
  </div>
  <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li class="mt-3">Hello, <%= current_user.full_name %>!</li>
      <li class="nav-item mx-2">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-block my-2' %>
      </li>
    <% else %>
      <li class="nav-item mx-2">
        <%= link_to 'Log in', new_user_session_path, class: 'btn btn-secondary btn-block my-2' %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-block my-2' %>
      </li>
    <% end %>
  </ul>
</nav>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container container-fluid">
  <%= yield %>
</div>
</body>
</html>
